body {
    min-height: 2000px;
}
.jumbotron {
    padding-top: 6rem;
    background-color: #6495ed;
}

#projects {
    background-color: #6495ed; 

}

.contact-btn {
    width: 60%;
    background-color: white;
    border-radius: 19px;
    margin-bottom: 14px;
    font-size: 1,1rem;
    font-weight: bold;
    padding: 20px;
}
.contact-btn:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

section {
    padding-top: 5rem;
}